*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

body{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container{
    border: solid 0.1rem black;
    width: fit-content;
    height: auto;
    padding: 2rem 5rem;
    display:flex;
    flex-direction: column;
    gap: 10px;
}

#display{
    border: solid 1px black;
    height: 4rem;
    width: 20rem;
}

.operation-elements{
    display: flex;
    justify-content: center;
}

.valor{
    height: 3rem;
    width: 3rem;
}

#operador{
    width: 2rem;
    height: 3rem;
    display: none;
}

.group-button{
    display: flex;
    gap: 1rem;
}

.btn{
    border: none;
    background-color: gray;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} 

#val2{
    display: none;
    /* visibility: hidden; */
}

